* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f5f5f5;
    background-image: url('C:\xampp\htdocs\inventario\img\fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad del 80% */
    padding: 40px;
    color: #333;
    
    
}

.container {
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 32px;
    color: #2c3e50;
    font-weight: 600;
}

.btn-agregar {
    background-color: #1abc9c;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.btn-agregar:hover {
    background-color: #16a085;
}

.tabla-inventario {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    border-radius: 8px;
    overflow: hidden;
}

.tabla-inventario th, .tabla-inventario td {
    padding: 15px 20px;
    border: 1px solid #e5e5e5;
    text-align: left;
    font-size: 16px;
    color: #2c3e50;
}

.tabla-inventario th {
    background-color: #34495e;
    color: white;
    font-weight: 600;
}

.tabla-inventario tr:nth-child(even) {
    background-color: #f8f9f9;
}

.tabla-inventario tr:hover {
    background-color: #eaecef;
}

.btn-editar, .btn-eliminar {
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.btn-editar {
    background-color: #f39c12;
    color: white;
}

.btn-editar:hover {
    background-color: #e67e22;
}

.btn-eliminar {
    background-color: #e74c3c;
    color: white;
}

.btn-eliminar:hover {
    background-color: #c0392b;
}
